html

    head
        title Social Connection
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        script(defer src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous")
        script(defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")


    body(style="background: #222")
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar 
                        span.icon-bar 
                        span.icon-bar 
                    a.navbar-brand(href="/") Social Connection

                #navbar(class="collapse navbar-collapse")
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home


        .container